{% extends 'base.html.twig' %}

{% block title %}
    Ajout site
{% endblock %}

{% block main %}
    <h1 class="text-center">Ajout d'un site</h1>
    <div class="container">
        {{ form_start(siteForm) }}
        {{ form_widget(siteForm) }}
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Ajouter Site</button>
            <a href="{{ path("main_sites") }}"
               class="btn btn-primary ">Retour</a>
        </div>
    </div>
    {{ form_end(siteForm) }}
{% endblock %}

